@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --soft-red: hsl(5, 85%, 63%);
  --soft-orange: hsl(35, 77%, 62%);

  --off-white: hsl(36, 100%, 99%);
  --greyish-blue: hsl(233, 8%, 79%);
  --dark-greyish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

/* GENERAL STYLING */

button {
  padding: 10px 25px;
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  letter-spacing: 2px;
  margin-top: 20px;
}

h1 {
  color: var(--very-dark-blue);
  font-size: 45px;
  font-weight: 800;
  padding: 7px 0px;
}

p {
  color: var(--dark-greyish-blue);
  font-size: 15px;
  padding: 7px 0px;
  line-height: 25px;
}

h2 {
  font-weight: 800;
  font-size: 28px;
  padding: 7px 0px;
}

h3 {
  font-size: 17px;
  font-weight: 700;
  padding: 7px 0px;
}

img {
  max-width: 100%;
  width: 100%;
}

/* UTILITIES */

.flex {
  display: flex;
}

/* COMPONENTS */

.container {
  display: grid;

  gap: 40px;
  margin: 15px;
}

/* NAVBAR */
.top-nav-container {
  justify-content: space-between;
  padding: 30px 15px 20px 15px;
}

.logo {
  max-width: 13%;
}

nav {
  display: none;
}

/* FEATURE ARTICLE */
.featured-article {
  display: grid;
  gap: 10px;
}

.featured-article img {
  height: 100%;
  object-fit: cover;
}

/* NEW ARTICLES */

.new-articles {
  background-color: var(--very-dark-blue);
  padding: 20px;
}

.new-articles p {
  color: var(--greyish-blue);
}

.new-articles h2 {
  color: var(--soft-orange);
  margin-bottom: 10px;
}

.new-articles h3 {
  color: var(--off-white);
}

.new-articles hr {
  border: 1px solid var(--dark-greyish-blue);
  margin: 10px 0px;
}

/* BOTTOM ARTICLES */

.bottom-articles {
  display: grid;
  gap: 25px;
}

.bottom-articles h2 {
  color: var(--greyish-blue);
}

.bottom-articles div {
  gap: 20px;
}

.bottom-articles img {
  max-width: 30%;
}